<a href="https://colab.research.google.com/github/choisewon/-/blob/master/data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = pd.read_csv('exams.csv')

data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68

In [ ]:
data.describe()

        math score  reading score  writing score
count  1000.000000    1000.000000    1000.000000
mean     66.396000      69.002000      67.738000
std      15.402871      14.737272      15.600985
min      13.000000      27.000000      23.000000
25%      56.000000      60.000000      58.000000
50%      66.500000      70.000000      68.000000
75%      77.000000      79.000000      79.000000
max     100.000000     100.000000     100.000000

In [ ]:
data.describe(include='object')

,gender,race/ethnicity,parental level of education,lunch,test preparation course
count,1000,1000,1000,1000,1000
unique,2,5,6,2,2
top,male,group C,some college,standard,none
freq,517,323,222,652,665

In [ ]:
import time

x = time.time()

re=0
for i in range(1,100001):
  re=re+i
y=time.time()

print("결과=",re)
print(y-x)

결과= 5000050000
0.024976491928100586

In [ ]:
import random
wording=[1,2,3,4,5,6,7,8,9]
print(random.choice(wording))

2

In [ ]:
from gtts import gTTs
import playsound

x="가나다라마바사"
tts=gTTs(text=x)

In [ ]:
import time
import random

x = time.time()

re=[0,1]
sum= 0
res=0
for i in range(1,100000001):
  sum=random.choice(re)
  res = res +sum
y=time.time()

print("결과=",res)
print(y-x)

결과= 50006515
100.38850665092468

In [44]:
from datetime import datetime
# 경기 결과 입력 받는 곳
place=input("경기가 열린 곳은? ")
time=input("경기가 열린 시간은? ")
opponent=input("상대 팀은? ")
goals=input("손흥민은 몇 골을 넣었나요? ")
aids=input("도움은 몇 개인가요? ")
score_me=input("손흥민 팀이 넣은 골 수는? ")
score_you=input("상대 팀이 넣은 골 수는? ")
# 기사 작성하는 곳
nows =datetime.now()
news="[프리미어 리그 속보("+str(nows.replace(microsecond=0))+")]\n"
news=news+"손흥민 선수는 "+place+"에서 "+time+"에 열린 경기에 출전하였습니다. "
news=news+"상대 팀은 "+opponent+"입니다. "
if score_me>score_you:
  news=news+"손흥민 선수의 팀이 "+score_me+"골을 넣어 "+score_you+"골을 넣은 상대 팀을 이겼습니다. "
elif score_me<score_you:
  news=news+"손흥민 선수의 팀이 "+score_me+"골을 넣어 "+score_you+"골을 넣은 상대 팀에게 졌습니다. "
else:
  news=news+"두 팀은 "+score_me+"대"+score_you+"로 비겼습니다. "
if int(goals)>0 and int(aids)>0:
  news=news+"손흥민 선수는 "+goals+"골에 도움 "+aids+"개로 승리를 크게 이끌었습니다. "
elif int(goals)>0 and int(aids)==0:
  news=news+"손흥민 선수는 "+goals+"골로 승리를 이끌었습니다. "
elif int(goals)==0 and int(aids)>0:
  news=news+"손흥민 선수는 골은 없지만 도움 "+aids+"개로 승리하는 데 공헌하였습니다. "
else:
  news=news+"아쉽게도 이번 경기에서 손홍민의 발끝은 침묵을 지켰습니다. "
print(news)
# 음성으로 들려주는 곳
!pip install gtts playsound
from gtts import gTTS
import playsound
tts=gTTS(text=news,lang='ko') # 문자열 news를

경기가 열린 곳은? 1
경기가 열린 시간은? 1
상대 팀은? 1
손흥민은 몇 골을 넣었나요? 1
도움은 몇 개인가요? 1
손흥민 팀이 넣은 골 수는? 1
상대 팀이 넣은 골 수는? 1
[프리미어 리그 속보(2022-09-28 01:36:16)]
손흥민 선수는 1에서 1에 열린 경기에 출전하였습니다. 상대 팀은 1입니다. 두 팀은 1대1로 비겼습니다. 손흥민 선수는 1골에 도움 1개로 승리를 크게 이끌었습니다.
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gtts in /usr/local/lib/python3.7/dist-packages (2.2.4)
Requirement already satisfied: playsound in /usr/local/lib/python3.7/dist-packages (1.3.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from gtts) (7.1.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gtts) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gtts) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gtts) (2022.6.15)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gtts) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->gtts) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gtts) (3.0.4)